body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

div.allignofpage {
    width: 1000px;
    margin: auto;
}

div.wholepage {
    width: 960px;
    padding-left: 20px;

}

div.topsign {
    width: 1000px;
    height: 60px;
    background-color: #2e2e2e;
    font-size: 12px;
}

div.signupmenu {
    margin-top: -10px;
    float:left;
}

.icons{
    height: 60px;
    width: 700px;
    overflow: hidden;
    padding-top: 5px;

}
div.iconitself:hover{
    background-color: #db4a39;
}

.iconitself{
    height: 50px;
    width: 50px;
    float:right;
    overflow: hidden;
    background-color: #666666;
    border-radius: 30px;
    margin-left: 10px;
}

.iconpic{
    margin-top: 8px;
    margin-left: 10px;
}

#border {
    border-right: hidden !important;
}

div.signupmenu ul {
    height: 13px;
    width: 260px;
    margin-left: -45px;
}

div.signupmenu ul li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid #9f9f9f;
    padding: 0 5px 0 5px;
    margin-top: 24px;
    float: left;
}

div.signupmenu ul li a {
    text-decoration: none;
    color: #9f9f9f;
}

div.signupmenu ul li a:hover {
    color: white;
}

div.topmenu ul li{
    list-style: none;
    display:inline-block;

}

div.topmenuin {
    width: 960px;
    height: 14px;
    margin-left: -40px;
    padding-top: 20px;

}

div.topmenuin ul li a{
    text-decoration: none;
    color: #2e2e2e;
    margin-right: 20px;
    padding-bottom: 20px;
}
div.topmenuin ul li a:hover{
    color: #9f9f9f;
    border-bottom: 5px solid #0099ff;

}


.topmenu {
    width: 960px;
    height: 70px;
    background-color: white;
    font-size: 14px;
    text-decoration: none;
}

/*slider "hoveeris"*/
.topslide {
    width: 960px;
    height: 5px;
}

.topslidebar {
    height: 5px;
    width: 960px;
    background-color: #f1f1f1;
    overflow: hidden;

}
/*slider end*/


.topbannersearch {
    width: 660px;
    height: 145px;
    color: #333333;
    float:left;
}
div.topbannersearch h1{
    font-weight: 400;
    margin-bottom: 0;
    font-size: 36px;
    padding-top: 20px;
}
div.topbannersearch p{
    margin-top: 0;
}

.searchbar{
    overflow: hidden;
    height: 50px;
    margin-top: 70px;
    float:left;
    box-sizing: border-box;

}
div.searchbar input{
    border-radius: 8px;
    height: 30px;
    width: 210px;
    background-color: #f1f1f1;
    font-size: 12px;
}
.searchtop{
    margin-top: 73px;
    overflow: hidden;
    padding-left: 5px;
}

div.searchtop input[type=submit]{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    border:0;
    background-color: #0099ff;
    color:white;
}


a#onlyserach{
    text-decoration: none;
    color:white;

}


.midad {
    height: 450px;
    width: 1000px;
    background-color: #f1f1f1;
    border-top: 5px solid #e9e9e9;
    border-bottom: 10px solid #e9e9e9;
}

.textbutton {
    width: 410px;
    height: 450px;
    float: left;
    margin-top:-10px;
}

div.maintext {
    width: 410px;
    height: 450px;
    color: white;
}

.pickadd {
    width: 550px;
    height: 440px;
    overflow: hidden;
    background-color: darkred;
    margin-top: 10px;
}
.maincontent{
    margin-top: 40px;
    width: 960px;
    height: 430px;
}
.bigpic{
    width: 470px;
    height: 430px;

    float: left;
    margin-right: 20px;
}

.maindescription{
    margin-left: 20px;
    width: 470px;
    height: 430px;
    overflow:hidden;

}
.smallcontentup{
    width: 470px;
    height: 230px;
}
.smallcontentdown{
    width: 470px;
    height: 200px;
}
.smallpicture{
    width: 85px;
    height: 80px;
    background-color: #2e2e2e;
    margin:auto;
    margin-bottom: 15px;
}
.smallcontentupwindowone{
    width: 225px;
    height: 230px;
    float: left;
    margin-right: 20px;
    text-align: center;
}

div.smallcontentupwindowone span, div.smallcontentupwindowtwo span, div.smallcontentdownwindowone span,div.smallcontentdownwindowtwo span {
    color: #0099ff;
    font-size: 16px;
}
div.smallcontentupwindowone p, div.smallcontentupwindowtwo p, div.smallcontentdownwindowone p, div.smallcontentdownwindowtwo p{
    font-size: 13px;
}
.smallcontentupwindowtwo{
    width: 225px;
    height: 230px;
    overflow: hidden;
    text-align: center;
}

.smallcontentdownwindowone{
    width:225px;
    height: 200px;
    float:left;

    margin-right: 20px;
    text-align: center;
}

.smallcontentdownwindowtwo{
    width: 225px;
    height: 200px;
    overflow: hidden;
    text-align: center;
}
.bottombanner{
    width: 960px;
    height: 120px;
    background-color: #e0e0e0;
    margin-top: 40px;
}
.bottombannerblueline{
    height: 120px;
    width: 10px;
    background-color: #0099ff;
    float: left;
    margin-right: 30px;
}
.bottombannertext{
    width: 525px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-right: 80px;
}
div.bottombannertext h1{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 30px;
}
div.bottombannertext p{
    margin-top: 0;
}
.bottombannerbutton{
    width: 280px;
    height: 60px;
    background-color: #0099ff;
    overflow: hidden;
    text-align: center;
    color: #e0e0e0;
    border-radius: 8px;
}
div.bottombannerbutton h1{
    font-size: 26px;
    font-weight: 400;

}
div.buttontwo{
    width: 280px;
    overflow: hidden;
    padding-top:30px;


}
div.buttontwo a{
    text-decoration: none;

}

.bottominfo{
    width: 1000px;
    height: 390px;
    border-top: 5px solid black;
    background-color: #1a1a1a;
    margin-top: 45px;
}
.about{
     height: 350px;
     width: 225px;
     float:left;
     overflow: hidden;
     margin-right: 20px;

}
.contact{
    height: 350px;
    width: 225px;
    overflow: hidden;
    margin-top: 40px;

}
div.about p{
    font-size: 12px;
    font-weight: 300;
    margin-top: 0;
    color:white;
}
div.contact p{
    font-size: 12px;
    font-weight: 300;
    margin-top: 0;
    color:white;
}

.descriptionabout{
    width: 225px;
    height: 30px;
}
.descriptionitself{
    height: 320px;
    width: 225px;
}
div.bottomwindow{
    width: 215px;
    height: 90px;
    background-color: #232323;
    margin-left: 5px;


}
.textaboutus{
    margin-top: 10px;
    width: 190px;
    height: 120px;

}

div.textaboutus p{
    font-size: 12px;
    color: #666666;
}
.readmore{
 text-align: right;

}
div.readmore a{
    text-decoration: none;
    color: #0099ff
}
div.descriptionitself ul li{
    border-bottom: 1px solid #232323;
    padding-bottom: 7px;
}
div.descriptionitself ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #0099ff;
}
.sometextbottom{
    width:225px;
}
div.sometextbottom h1{
    font-size: 14px;
    font-weight: 400;
    margin:0;
    padding: 0;
}

div.sometextbottom span{
    font-size: 10px;
    color: #666666;


}
div.sometextbottom p{
    font-size: 12px;
    color: #666666;
    padding-top: 10px;
}

.footer{
    width: 1000px;
    height: 60px;
    background-color: #222222;
}
.bottxtone{
    width: 480px;
    height: 12px;
    padding-top: 22px;
    float:left;
}
.bottxttwo{
    width: 480px;
    height: 18px;
    padding-top:22px;
    overflow: hidden;
    text-align: right;
}
span{
    font-size: 12px;
    color: #9f9f9f;
}
.clear {
    clear: both;
}

div.littletext h1{
    font-weight: 400;
}
div.littletext p{

}
.littletext{
    width: 360px;
    height: 200px;
    margin-top: 120px;
    color: #333333;
}
.readmorebutton{
    width: 150px;
    height: 30px;
    background-color: #0099ff;
    text-align: center;
    padding-top: 10px;
    border-radius: 4px;


}
div.littletext a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}
textarea{
    resize: none;
    width: 100%;
    background-color: #232323;
    border:none;
    height: 120px;
    border-radius: 8px;
}
div.descriptionitself input[type=text], div.descriptionitself input[type=email]{
    background-color: #232323;
    border:none;
    height: 30px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 6px;
}
div.descriptionitself input[type=submit]{
    height: 30px;
    width: 75px;
    border: none;
    background-color: #0099ff;
    color:white;
    border-radius: 8px;
}
